<% if @reg_status and !@reg_status[:error] %>
  <div class="alert alert-info" role="alert">Account <strong><%= @reg_status[:account_name] %></strong> was successfully
    registered. 你的账号名 <strong><%= @reg_status[:account_name] %></strong> 已经注册成功。
  </div>

  <br/>
  <div class="social-buttons">
    <h2 class="logo text-center">Now you can share your BitShares account name with your friends so they can send you
      some funds.</h2>
    <h2 class="logo text-center">现在你可以将你的比特股账号名告诉其他朋友，让他们可以发资金给你。</h2>
    <br/>
    <div class="row">
      <div class="col-md-4">&nbsp;</div>
      <div class="col-md-4 cell text-center">
        <a id="fb_share_btn" href="#" class="btn btn-block btn-lg btn-social btn-facebook">
          <i class="fa fa-facebook"></i> Share on Facebook</a>
      </div>
      <div class="col-md-4">&nbsp;</div>
    </div>
    <br/>
    <div class="row">
      <div class="col-md-4">&nbsp;</div>
      <div class="col-md-4 cell text-center">
        <a href="https://twitter.com/intent/tweet?text=My official BitShares account name is <%= @reg_status[:account_name] %>. Please come and join me on BitShares." class="btn btn-block btn-lg btn-social btn-twitter">
          <i class="fa fa-twitter"></i> Share on Twitter</a>
      </div>
      <div class="col-md-4">&nbsp;</div>
    </div>
  </div>
<% end %>

<% if @reg_status and @reg_status[:error] %>
  <h4 class="text-center">You can try a different account name or key</h4>
  <%= render partial: 'welcome/register_account_form' %>
<% end %>

<% if @reg_status and !@reg_status[:error] %>
<script>
  window.fbAsyncInit = function () {
    FB.init({
      appId: <%= Rails.application.config.bitshares.oauth['facebook']['app_id'] %>,
      xfbml: true,
      version: 'v2.1'
    });
  };

  (function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {
      return;
    }
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  $('#fb_share_btn').on('click', function (e) {
    e.preventDefault();
    postToFeed();
  });

  function postToFeed() {
    var obj = {
      method: 'feed',
      link: '<%= root_url %>',
      display: 'popup',
      picture: '<%= image_url('logo-ico-blue.svg') %>',
      description: 'My official BitShares account name is <%= @reg_status[:account_name] %>. Please come and join me on BitShares.'
    };

    function callback(response) {
      if (response && response['post_id']) {
      }
    }

    FB.ui(obj, callback);
  }
</script>
<% end %>
