- if @reg_status and !@reg_status[:error]
  .alert.alert-info{:role => "alert"}
    Account
    %strong= @reg_status[:account_name]
    was successfully
    registered. 你的账号名
    %strong= @reg_status[:account_name]
    已经注册成功。
  %br/
  .social-buttons
    %h2.logo.text-center
      Now you can share your BitShares account name with your friends so they can send you
      some funds.
    %h2.logo.text-center 现在你可以将你的比特股账号名告诉其他朋友，让他们可以发资金给你。
    %br/
    .row
      .col-md-4  
      .col-md-4.cell.text-center
        %a#fb_share_btn.btn.btn-block.btn-lg.btn-social.btn-facebook{:href => "#"}
          %i.fa.fa-facebook
          Share on Facebook
      .col-md-4  
    %br/
    .row
      .col-md-4  
      .col-md-4.cell.text-center
        %a.btn.btn-block.btn-lg.btn-social.btn-twitter{:href => "https://twitter.com/intent/tweet?text=My official BitShares account name is #{@reg_status[:account_name]}. Please come and join me on BitShares."}
          %i.fa.fa-twitter
          Share on Twitter
      .col-md-4  

  %ul.newsletter_subscription{data: {url: "#{users_subscribe_path}"}}
    %li
      = radio_button('users', 'newsletter_subscribed', true)
      Subscribe me to BitShares news letter
    %li
      = radio_button('users', 'newsletter_subscribed', false)
      I don't want to subscribe to BitShares news letter

- if @reg_status and @reg_status[:error]
  %h4.text-center You can try a different account name or key
  = render partial: 'welcome/register_account_form'

- if @reg_status and !@reg_status[:error]
  :javascript
    window.fbAsyncInit = function () {
      FB.init({
        appId: #{Rails.application.config.bitshares.oauth['facebook']['app_id']},
        xfbml: true,
        version: 'v2.1'
      });
    };

    (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {
        return;
      }
      js = d.createElement(s);
      js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    $('#fb_share_btn').on('click', function (e) {
      e.preventDefault();
      postToFeed();
    });

    function postToFeed() {
      var obj = {
        method: 'feed',
        link: '#{root_url}',
        display: 'popup',
        picture: '#{image_url('logo-ico-blue.svg')}',
        description: 'My official BitShares account name is #{@reg_status[:account_name]}. Please come and join me on BitShares.'
      };

      function callback(response) {
        if (response && response['post_id']) {
        }
      }

      FB.ui(obj, callback);
    }
