- if @reg_status and !@reg_status[:error]
  .alert.alert-info{:role => "alert"}
    = raw t('.account_registered', account_name: @reg_status[:account_name])
  .subscribe_notification.alert.alert-info{:role => "alert"}
    = render 'subscribe', status: @subscription_status
  %br/
  .social-buttons
    %h2.logo.text-center= t('.share_bitshares_account')
    %br/
    .row
      .col-md-4  
      .col-md-4.cell.text-center
        %a#fb_share_btn.btn.btn-block.btn-lg.btn-social.btn-facebook{:href => "#"}
          %i.fa.fa-facebook
          = t('.share_on_facebook')
      .col-md-4  
    %br/
    .row
      .col-md-4  
      .col-md-4.cell.text-center
        %a.btn.btn-block.btn-lg.btn-social.btn-twitter{:href => "https://twitter.com/intent/tweet?text=#{t('.join_me', account_name: @reg_status[:account_name])}"}
          %i.fa.fa-twitter
          = t('.share_on_twitter')
      .col-md-4  

- if @reg_status and @reg_status[:error]
  %h4.text-center= t('.try_different_account')
  = render partial: 'welcome/register_account_form'

- if @reg_status and !@reg_status[:error]
  :javascript
    window.fbAsyncInit = function () {
      FB.init({
        appId: #{Rails.application.config.bitshares.oauth['facebook']['app_id']},
        xfbml: true,
        version: 'v2.1'
      });
    };

    (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {
        return;
      }
      js = d.createElement(s);
      js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    $('#fb_share_btn').on('click', function (e) {
      e.preventDefault();
      postToFeed();
    });

    function postToFeed() {
      var obj = {
        method: 'feed',
        link: '#{root_url}',
        display: 'popup',
        picture: '#{image_url('logo-ico-blue.svg')}',
        description: "#{t('.join_me', account_name: @reg_status[:account_name])}"
      };

      function callback(response) {
        if (response && response['post_id']) {
        }
      }

      FB.ui(obj, callback);
    }
