- if current_user
  #add-email
    - if current_user.unconfirmed_email?
      %h4= raw t('.please_confirm_to_finish')
    - else
      %h4= t('.please_enter_email')

    = form_for(current_user, :as => 'user', :url => finish_signup_path, :html => { role: 'form', class: 'col-md-5'}) do |f|
      .form-group
        = f.label :email
        .controls
          = f.text_field :email, :autofocus => true, :value => '', class: 'form-control input-lg', placeholder: 'address@example.com'
          /%p.help-block= t('.please_confirm')
          - if current_user.errors.any?
            #error_explanation
              - current_user.errors.full_messages.each do |msg|
                = msg
                %br/
      .actions
        = f.submit "#{t('continue')}", :class => 'btn btn-primary'
