<div class="logo text-center"><%= image_tag('logo-ico-blue.svg', size: '256x256') %></div>
<br/> <br/>
<% if @account %>
  <div class="header">
    <h2 class="logo text-center">To claim your free BitShares account registration, please enter account name and your public key in the form below:</h2>
    <br/>
  </div>
  <%= render partial: 'register_account_form' %>
  <br/>
  <br/>
<% else %>
  <div class="header">
    <h2 class="logo text-center">You are about to register account <b><%= @account_name %></b>, please authenticate with one of the following identity providers to proceed:</h2>
    <br/>
  </div>
  <%= render partial: 'social_buttons' %>
  <br/>
  <div class="alert alert-warning" role="alert">Note: This step is only necessary to prevent abuse of the faucet. There
    is no link whatsoever between these services and your BitShares account.
  </div>
<% end %>

<div class="text-center">
  Need help? Read <a href="http://bytemaster.bitshares.org/tutorial/2015/01/03/How-to-Register-a-BitShares-Account/" target="_blank">How to Register a BitShares Account</a>
</div>
<% content_for :footer do %>
  <p>Faucet Balance: <b><%= number_to_currency(@faucet_balance, unit: '') %> <%= @asset.symbol %></b>, you can donate to this faucet by sending <%= @asset.symbol %> to <b><a href="bts:<%= @faucet_account %>/transfer"><%= @faucet_account %></a></b> account.</p>
<% end %>
