.logo.text-center= image_tag('logo-ico-blue.svg', size: '256x256')
%br/
%br/
- if @account
  .header
    %h2.logo.text-center
      = t('.claim_account')
    %br/
  = render partial: 'register_account_form'
  %br/
  %br/
- else
  .header
    %h2.logo.text-center
      = t('.about_to_register')
      %b= @account_name
      = t('.on_the_blockchain')
    %br/
    .alert.alert-warning{:role => "alert"}
      = simple_format t('.note')
  = render partial: 'social_buttons'
  %br/

.text-center
  = raw t('.need_help', link: link_to(t('how_to_register_account'), 'http://bytemaster.bitshares.org/tutorial/2015/01/03/How-to-Register-a-BitShares-Account/'))
- content_for :footer do
  %p
    = "#{t('.faucet_balance')}:"
    = succeed "," do
      %b
        = number_to_currency(@faucet_balance, unit: '')
        = @asset.symbol
    = t('.donate', symbol: @asset_symbol)
    %a{:href => "bts:#{faucet_account}/transfer"}
    %b
      = faucet_account
    = " #{t('account')}."
