<div class="page-header">
  <h1>
    Referral Code <span class="label label-success"><%= @referral.code %></span>
  </h1>
  <a href="bts:RefCode/faucet/<%= request.host_with_port %>/code/<%= @referral.code %>">bts:RefCode/faucet/<%= request.host_with_port %>/code/<%= @referral.code %></a>
</div>

<table class="table table-bordered">
  <tr>
    <td>Id:</td>
    <td><%= @referral.id %></td>
  </tr>
  <tr>
    <td>Code:</td>
    <td><%= @referral.code %></td>
  </tr>
  <tr>
    <td>Expires at:</td>
    <td><%= @referral.expires_at %></td>
  </tr>
  <tr>
    <td>Redeemed at:</td>
    <td><%= @referral.redeemed_at %></td>
  </tr>
  <tr>
    <td>Account name:</td>
    <td><%= @referral.account_name %></td>
  </tr>
  <tr>
    <td>Ref referral:</td>
    <td><%= @referral.ref_code_id %></td>
  </tr>
  <tr>
    <td>Asset amount:</td>
    <td><%= @referral.asset_amount %></td>
  </tr>
  <tr>
    <td>Asset symbol:</td>
    <td><%= @referral.asset.symbol %></td>
  </tr>

  <tr>
    <td>Actions</td>
    <td>
      <%= link_to "Edit", edit_admin_referral_code_path(@referral), :class => "btn btn-default" %>
      <%= link_to "Delete", admin_referral_code_path(@referral), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => "btn btn-danger" %>
    </td>
  </tr>
</table>

<%= link_to('All referral codes', admin_referral_codes_path) %>
