.page-header
  %h1 Referral codes
= search_form_for @q, :url => profile_referral_codes_path, :html => { :method => :get, :class => "well form-inline" } do |f|
  .form-group
    = f.text_field :code_cont, :type => "search", :class => "form-control", :placeholder => "Search by code"
  = f.submit "Search", :class => "btn btn-default"
%p= link_to("Back to profile", profile_path)
%table.sortable.table.table-striped.table-bordered.table-condensed
  %thead
    %tr
      %th= sortable "code"
      %th= sortable "amount"
      %th= sortable "created_at"
      %th= sortable "expires_at"
      %th= sortable "status"
  %tbody#referral_codes{data: {url: profile_referral_codes_path} }
    = render 'codes'
  = paginate @referrals

.page-header
  %h1 Create new referral code
.col-xs-6
  = render 'form'
